.heading-title {
    border-bottom: 1px solid #000000;
    color: #000000;
    text-align: left;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    margin: 0 auto 0;
    padding: 0 0 23px 0;
    letter-spacing: -0.04em;
    max-width: 1140px;
}

@media (max-width: 767px) {
    .heading-title {
        font-size: 18px;
        line-height: 22px;
        padding: 0 0 28px 0;
    }
}