.sign__submit-button {
    background-color: #000000;
    color: #FFFFFF;
    height: 45px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

@media (max-width: 640px) {
    .sign__submit-button {
        font-size: 12px;
        line-height: 15px;
    }
}