.navigation {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin: 0 0 0 44px;
}

.navigation__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

.navigation__burger {
    display: none;
}

@media (max-width: 768px) {
    .navigation__container {
      display: none;
    }

    .navigation__burger {
        display: block;
        border: none;
        width: 44px;
        height: 44px;
        background: url(../../images/burger-icon.svg) center /44px 44px no-repeat transparent;
    }
}

@media (max-width: 640px) {
    .navigation__burger {
        display: block;
        border: none;
        width: 40px;
        height: 43px;
        background: url(../../images/burger-icon.svg) center /40px 43px no-repeat transparent;
    }
}