.movies-card-list__elements {
    display: grid;
    justify-content: space-around;
    grid-gap: 32px 28px;
    grid-template-columns: repeat(auto-fit, 360px);
    max-width: 1140px;
    margin: 70px auto 0;
    padding: 0 30px 10px;
}

@media (max-width: 768px) {
    .movies-card-list__elements {
        grid-gap: 35px 24px;
        grid-template-columns: repeat(auto-fit, 342px);
        max-width: 708px;
        margin: 70px auto 30px;
        padding: 0 30px 0;
    }
}

@media (max-width: 640px) {
    .movies-card-list__elements {
        grid-gap: 16px;
        grid-template-columns: repeat(auto-fit, 300px);
        max-width: 300px;
        margin: 40px auto 30px;
        padding: 0 10px 0;
    }
}