.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  height: 74px;
  margin: 0 auto 0;
  padding: 0 30px 0;
}

@media (max-width: 680px) {
  .header {
    padding: 0 14px 0;
  }
}

