.movies-card__save-button-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 18px auto;
    padding: 0;
}

.movies-card__save-button {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.movies-card__save-button-label {
    display: block;
    position: relative;
    background: url(../../../../images/save-button-text.svg) center / 70px 11px no-repeat #F9F9F9;
    border-radius: 30px;
    width: 100px;
    height: 29px;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    cursor: pointer;
}

.movies-card__save-button:checked + .movies-card__save-button-label {
    border: none;
    background: url(../../../../images/tick.svg) center / 8px 5px no-repeat #FF4062;
    cursor: pointer;
    color: transparent;
}

@media (max-width: 640px) {
    .movies-card__save-button-container {
        margin: 14px auto;
    }
}