.profile-form__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 123px 0 16px;
}

.profile-form__inputs-container {
    margin: 0 0 200px;
}

.profile-form__fieldset {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding: 0 0 16px;
    margin: 0;
    border-bottom: 1px solid #E8E8E8;
}

.profile-form__fieldset:last-of-type {
    border-bottom: none;
    padding: 17px 0 0;
}

.profile-form__input-label {
    width: 50px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.profile-form__input {
    width: 100%;
    border: none;
    text-align: right;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    outline-color: #A0A0A0;
    outline-offset: 2px;
}

.profile-form__submit-button {
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
}

.profile-form__submit-button_disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: #E8E8E8;
  }

.profile-form__input-error-message {
    color: #FF4062;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    opacity: 0;
}

.profile-form__input-error-message_active {
    opacity: 1;
  }

.profile-form__success-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    opacity: 1;
}

.profile-form__success-text_disabled {
    opacity: 0;
}

.profile-form__error-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    opacity: 1;
}

.profile__error-text_disabled {
    opacity: 0;
}

@media (max-width: 768px) {
    .profile-form__form {
        margin: 96px 0 16px;
    }

    .profile-form__inputs-container {
        margin: 0 0 90px;
    }
}

@media (max-width: 640px) {
    .profile-form__form {
        margin: 80px 0 16px;
    }

    .profile-form__inputs-container {
        margin: 0 0 359px;
    }
}