.header__navigation {
    margin: 0;
  }

  .header__navigation-list {
    list-style: none;
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
  }

  .header__navigation-link {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    margin: 0 16px 0 0;
  }

  .header__navigation-link_active {
    border-bottom: 2px solid #000000;
  }